
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #ffb6c1;
    margin: 0;
  }
header a {
  color: #ffb6c1
}
h1 {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: #070707;
    text-decoration: none;
    color: #fce138;
  }


body {
    color: #ffb6c1;
    font-family: Helvetica, Arial, sans-serif;
  }
