/* apply styles to <header> */
h1 {
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
  }

h1 {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
    background-color: #39a6b2;
    text-decoration: none;
    color: #fce138;
  }


body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
  }
